<!DOCTYPE html>
<html>
    <head>
        <title>Cart Product List</title>
        <script src="/socket.io/socket.io.js"></script>

        <script>
            var socket = io();

            socket.on('show message',function(){
                alert('No hay stock');
            });
        </script>
    </head>
    <body>
        <div class="container">
     
        <h3><a href="/products">Products list</a></h3>
        <h1>Shopping Cart</h1>
            {% if products is not empty %}
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        {% for product in products %}
                            <tr>
                            <td><input type="hidden" value="{{ product._id }}" name='p_id'/></td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.qty }}</td>
                        
                            <td><a href="/cart/delete/{{ product._id }}">Delete from cart</a></td>
                        
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div>No products found.</div>
            {% endif %}
        </div>
    </body>
</html>